
body {
	  background: #355C7D; 
	  animation: bg-change 10s infinite; 
	  -webkit-animation: bg-change 10s infinite;
	  font-family: 'Lato', sans-serif;

}

/* Background color change 
*/

@keyframes bg-change {
	0% {background-color: #355C7D }
	25% {background-color: #6C5B7B }
    50% {background-color: #C06C84 }	
    75% {background-color: #F67280 }
    100% {background-color: #355C7D}

}

@-webkit-keyframes bg-change {
	0% {background-color: #355C7D  }
	25% {background-color: #6C5B7B }
    50% {background-color: #C06C84 }	
    75% {background-color: #F67280 }
    100% {background-color: #355C7D }
}


img {

	border: 1px solid;
	width: 300px;
	box-shadow: -2px 2px 28px 0px rgba(0, 0, 0, 0.57);
	margin: 10px;

}

.containerSearchBar {
	display:flex;
	justify-content: center;
}

.text {
	font-size: 2em;
	color: black;
}

.searchBar {

	margin-top: 10px;
	border: 1px solid black;
	text-align:left; 
	width: 800px;
	height:30px;
	font-size: medium;
}

input:focus {
	outline: none;
}

/* Attempt to make button gradient change
@keyframes button-bg-change {
	0% {background: linear-gradient(135deg, #355C7D); }
	25% {background: linear-gradient(135deg, #6C5B7B); }
    50% {background: linear-gradient(135deg, #C06C84); }
    75% {background: linear-gradient(135deg, #F67280); }
    100% {background: linear-gradient(135deg, #F68E80); }

}

@-webkit-keyframes button-bg-change {
	0% {background: linear-gradient(135deg, #355C7D); }
	25% {background: linear-gradient(135deg, #6C5B7B); }
    50% {background: linear-gradient(135deg, #C06C84); }
    75% {background: linear-gradient(135deg, #F67280); }
    100% {background: linear-gradient(135deg, #F68E80); }

}

*/

.buttonSearchBar {

	background: linear-gradient(135deg, #355C7D 10%, #6C5B7B 25%, #C06C84 50%, #F67280 75%, #F68E80 100% );
	border: 1px solid;
	width: 90px;
	position: relative;
	bottom: -2px;
	height:34px;
}


/*
 * Search Results
 */

.container-search-results {
	margin: 10px;
}

.search-title {
	text-align:center;

}

.search-results-list {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly; 
	align-content: space-between;
}