
.containerApp {


}


.containerSearchBar {
	display:flex;
	flex: 1;
	justify-content: center;
}

.searchBar {
	text-align:center; 
	width: 300px;
	height:15px;
}

.buttonSearchBar {
	border: 1px solid;
	width: 90px;
	height:20px;
	//display:inline-block;

}